/// Config variables for colors

@use "sass:map";

/// Colors for all schemes
$colors: () !default;
$colors: map.merge(
  (
    "white": #fff,
    "black": #000,
    "primary": #2bacb2,
    "success": #00b42a,
    "warn": #ff7d00,
    "error": #f53f3f,
    "cyan-green": #0fc6c2,
    "dusk-yellow": #f7ba1e,
    "sea-azure": #3491fa,
    "night-purple": #904cf0,
    "magenta": #ee58ab,
    "newborn-green": #9fdb1d,
  ),
  $colors
);

/// Colors for light scheme
$colors-light: () !default;
$colors-light: map.deep-merge(
  (
    "primary": (
      "light-1": #45b6bb,
      "light-3": #dff2f2,
      "dark-2": #26979c,
    ),
  ),
  $colors-light
);

/// Colors for dark scheme
$colors-dark: () !default;
$colors-dark: map.deep-merge(
  (
    "primary": (
      "light-1": #45b6bb,
      "light-3": #dff2f2,
      "dark-2": #26979c,
    ),
  ),
  $colors-dark
);
