/// The mixins for operating (define & extend) placeholder

@mixin define-placeholder($name) {
  $rule-name: "%shared-" + $name;

  @at-root #{$rule-name} {
    @content;
  }
}

@mixin extend-placeholder($name) {
  @extend #{"%shared-" + $name} !optional;
}
