/// The mixins for utilities

/// Clearfix
/// @access public
/// @example
///   @include clearfix;
@mixin clearfix {
  $selector: &;

  @at-root {
    #{$selector}::before,
    #{$selector}::after {
      display: table;
      content: "";
    }
    #{$selector}::after {
      clear: both;
    }
  }
}

/// Ellipsis
/// @access public
/// @param {Number} $line-clamp - Line clamp, default is 1
/// @example
///   @include ellipsis(2);
@mixin ellipsis($line-clamp: 1) {
  @if $line-clamp > 1 {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: $line-clamp;
    -webkit-box-orient: vertical;
  } @else {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
