/// Config variables for selector

/// Namespace for selector
$namespace: 'cs' !default;

/// Common separator for selector
$common-separator: '-' !default;

/// Element separator for selector
$element-separator: '__' !default;

/// Modifier separator for selector
$modifier-separator: '--' !default;

/// State prefix
$state-prefix: 'is-' !default;
